
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                      <div class="iframe-container d-none d-lg-block d-md-block d-sm-block d-block">
                          <iframe src="http://macbook-pro.broadband:8080">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
